Repository KartoonYoko/devops-sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: telegram-notification-backend, telegram-notification-frontend

.gitlab-ci.yml:

stages:
  # - build
  - notify

# build-backend-code-job:
#   stage: build  
#   only:
#     changes:
#     - backend/*
#   script:
#     - cd backend
#     - mvn package
#   artifacts:
#     paths:
#       - backend/target/sausage-store-0.0.1-SNAPSHOT.jar

# build-frontend-code-job:
#   stage: build  
#   only:
#     changes:
#     - frontend/*
#   script:        
#     - cd frontend
#     - npm install
#     - npm run build
#   artifacts:
#     paths:
#       - frontend/dist/frontend

telegram-notification-backend:
  stage: notify
  only:
    variables:
    - $CI_COMMIT_MESSAGE =~ /send notification/
    changes:
    - backend/*
  script:
    - curl -X POST -H 'Content-type:application/json' --data '{"chat_id":"-1001657575944", "text":"backend https://gitlab.praktikum-services.ru/api/v4/projects/2757/jobs/artifacts/release-0.0.1/download?job=build-backend-code-job"}' https://api.telegram.org/bot5933756043:AAE8JLL5KIzgrNBeTP5e-1bkbJy4YRoeGjs/sendMessage
  # needs:
  #   - build-backend-code-job

telegram-notification-frontend:
  stage: notify
  only:
    variables:
    - $CI_COMMIT_MESSAGE =~ /send notification/
    changes:
    - frontend/*
  script:
    - curl -X POST -H 'Content-type:application/json' --data '{"chat_id":"-1001657575944", "text":"frontend https://gitlab.praktikum-services.ru/api/v4/projects/2757/jobs/artifacts/release-0.0.1/download?job=build-frontend-code-job"}' https://api.telegram.org/bot5933756043:AAE8JLL5KIzgrNBeTP5e-1bkbJy4YRoeGjs/sendMessage
  # needs:
  #   - build-frontend-code-job

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

send notification
  .gitlab-ci.yml
Due: none

разделит yml файл на несколько для фронтенда и бекенда
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: telegram-notification-backend, telegram-notification-frontend

фикс путей до вложенных yml
  .gitlab-ci.yml
Due: none

Resolve "Доработать исправления по первому релизу"
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: telegram-notification-backend, telegram-notification-frontend

Resolve "Добавить статическое тестирование безопасности кода"
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/src/main/java/com/yandex/practicum/devops/controller/OrderController.java
  frontend/.gitlab-ci.yml
Due: telegram-notification-backend, telegram-notification-frontend

Reporting available now
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/resources/log4j2.yml
  backend/src/main/resources/logback.xml
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: telegram-notification-backend

Resolve "Добавить версионирование и выгрузку в Nexus"
  backend/.gitlab-ci.yml
  backend/pom.xml
  backend/settings.xml
  frontend/.gitlab-ci.yml
Due: telegram-notification-backend, telegram-notification-frontend

Resolve "Добавить downstream piplines"
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: telegram-notification-backend, telegram-notification-frontend

Resolve "Добавить enviroments"
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: telegram-notification-backend, telegram-notification-frontend

изменено место бекапа логов
  backend/sausage-store-backend.service
Due: telegram-notification-backend

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: telegram-notification-backend

добавлены креды для базы
  backend/sausage-store-backend.service
Due: telegram-notification-backend

Flyway
  backend/.gitignore
  backend/application.properties
  backend/migrations/R__create_indexes.sql
  backend/migrations/V001_create_products_orders.sql
  backend/migrations/V002_configure_products.sql
  backend/pom.xml
  backend/sausage-store-backend.service
Due: telegram-notification-backend

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: telegram-notification-backend

Mongodb
  backend/application.properties
  backend/sausage-store-backend.service
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/R__create_indexes.sql
  backend/src/main/resources/db/migration/V001_create_products_orders.sql
  backend/src/main/resources/db/migration/V002_configure_products.sql
Due: telegram-notification-backend

изменит ссылки
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: none

Docker
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/deploy.sh
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/deploy.sh
Due: telegram-notification-backend, telegram-notification-frontend

Vault
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/deploy.sh
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/V001__create_products_orders.sql
  backend/src/main/resources/db/migration/V002__configure_products.sql
  backend/src/main/resources/db/migration/V003__create_indexes.sql
  backend/src/test/resources/application.properties
  frontend/.gitlab-ci.yml
Due: telegram-notification-backend, telegram-notification-frontend

Extracted reports to the new microservice
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/app/handlers/health.handler.go
  backend-report/app/models/health.model.go
  backend-report/app/repositories/report/report.repository.go
  backend-report/app/services/health/health.service.go
  backend-report/app/services/health/health.service_test.go
  backend-report/app/services/report/report.service.go
  backend-report/config/config.go
  backend-report/docs/docs.go
  backend-report/go.mod
  backend-report/go.sum
  backend-report/main.go
  backend-report/routes/api.go
  backend-report/utility/common.go
  backend-report/utility/errors.go
  backend-report/utility/handler.go
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: none

Microservices
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/src/main/resources/application.properties
  docker-compose.yml
Due: telegram-notification-backend

Loadbalancer
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: telegram-notification-frontend

New deploy
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/pom.xml
  backend/src/main/resources/application.properties
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: telegram-notification-backend, telegram-notification-frontend

...
  backend/src/main/resources/log4j2.yml
Due: none
